<form action="/" method="post">
    <input type='text' name="survey[name]" placeholder="Your Name">
        <select name="survey[dojo_loc]">
        <option value="Mountain View, CA" selected="selected">Mountain View, CA</option>
        <option value="Berkeley, CA">Berkeley, CA</option>
        <option value="Seattle, WA">Seattle, WA</option>
        <option value="Austin, TX">Austin, TX</option>
    </select>
    <select name="survey[fave_lang]">
        <option value="Python / Django">Python / Django</option>
        <option value="Ruby on Rails">Ruby on Rails</option>
        <option value="Javascript">Javascript</option>
        <option value="MEAN Stack">MEAN Stack</option>
    </select>
    <input type="textarea" rows="4" columns="50" name="survey[comment]" placeholder="Optional Comment Here!">
    <input type='submit' value='Submit'>
</form>
